@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(0, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.434);
    width: 60vw;
    margin: auto;
    margin-top: 40px;
}