* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px  9px rgba(0, 0, 0, 0.442);
    margin: auto;
    margin-top: 40px;
    padding: 15px;
    width: 60vw;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 10px;
}

input {
    padding: 1px;
}

button {
    padding: 1px;
}

ul {
    padding: 15px;
    font-size: 1.2em;
}